$font-family: "Muli", sans-serif;
$primary-color: #3f5161;
$header-color: #2f3c48;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #d5dbdb;
$grey-color-2: #636464;
$grey-color-3: #545b65;
$grey-color-4: #f6f6f6;
$grey-color-5: #eeeeee;
$grey-color-6: #ededed;
$grey-color-7: #f9f9f9;
$grey-color-8: #869195;
$red-color: #d64f4f;
$green-color: #58a843;
$box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
$z-index: (
  one: 1,
  two: 2
);
$header-height: 6rem;
$sidebar-width: 32rem;
