* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 10px;

  @include respond("regular-desktop") {
    font-size: 7px;
  }

  @include respond("large-desktop") {
    font-size: 8px;
  }

  @include respond("tab-port") {
    font-size: 6.5px;
  }
}

body {
  margin: 0;
  font: {
    size: 1.4rem;
    weight: 500;
    family: $font-family;
  }
}

a {
  cursor: pointer;

  &:hover {
  }
}
