.form-control {
  height: 11rem;
  position: relative;
  &__title {
    color: $primary-color;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  &--textarea {
    height: 13rem;
    textarea {
      resize: none !important;
    }
  }
  &--file-select {
    .mat-form-field-wrapper{
      padding-bottom: 0 !important;
      cursor: pointer;
    }
    .mat-form-field-outline,
    input {
      cursor: pointer;
    }
  }
  mat-error + mat-error {
    display: none;
  }
  mat-icon[matprefix] {
    @include square(1.8rem);
    color: rgba($black-color, 0.4);
    position: relative;
    top: -0.6rem;
    left: 0.7rem;
  }
  mat-error {
    font-size: 1.4rem;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $grey-color;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0;
  }
  .mat-form-field-label {
    color: $grey-color;
    font: {
      size: 1.8rem;
      weight: 600;
    }
  }
  .mat-input-element,
  .mat-select {
    color: $grey-color-2;
    font: {
      size: 1.8rem;
      weight: 600;
    }
    position: relative;
    top: -0.4rem;
  }
  .mat-form-field-label-wrapper {
    top: -1.8rem;
  }
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  width: 4rem;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 9px;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid.ng-untouched
  .mat-form-field-outline-thick,
.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid
  .mat-form-field-label
  .mat-form-field-required-marker,
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick,
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: $grey-color !important;
}

.mat-warn .mat-input-element,
.mat-form-field-invalid .mat-input-element {
  caret-color: $grey-color !important;
}

.sign-up-layout {
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0.75em 0 3rem;
  }
}

.mat-select-arrow-wrapper {
  position: relative;
  top: 0.4rem;
}
