.table {
  &__search {
    width: 25rem;
    margin-bottom: 2rem;

    input {
      border: 1px solid $grey-color;
      font-family: $font-family;
      width: 100%;
      border-radius: 3px;
      box-shadow: none;
      padding: 10px;

      &:focus {
        outline: none;
        border-color: $red-color;
      }
    }
  }
}

.table {
  table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    thead {
      border-top: 1px solid $grey-color-4;
      border-bottom: 1px solid $grey-color-4;
      text-align: left;
      box-shadow: 0 4px 2px -2px $grey-color;

      th {
        color: rgba($black-color, 0.7);
        background: $grey-color-7;
        font-size: 1.7rem;
        height: 5rem;
        position: relative;

        &:first-child {
          padding-left: 1rem !important;
        }

        a {
          display: block;

          &.active {
            color: $red-color;
          }

          mat-icon {
            width: 1.6rem;
            height: 1.3rem;
            margin-left: 1rem;
          }
        }
      }
    }

    tbody {
      text-align: left;

      tr {
        border-bottom: 1px solid $grey-color-6;
        position: relative;

        &.selected {
          background: $grey-color-6;
        }

        td {
          color: $primary-color;
          vertical-align: top;
          font-size: 1.7rem;
          font-weight: 600;
          height: 6rem;
          padding: 2rem 2rem 2rem 0;

          app-read-more {
            p {
              color: $primary-color !important;
              font-size: 1.8rem !important;
            }
          }

          a {
            margin-right: 1rem;
          }

          &:first-child {
            padding-left: 1rem !important;
          }

          div {
            word-break: break-word;
          }
        }

        &:last-child {
          border-bottom-width: 0;
        }
      }
    }
  }
}
